@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --emerald-green: #025e4c;
  --emerald-green-hover: #037561;
  --emerald-green-active: #014a3c;

  --antique-gold: #c5a05a;
  --antique-gold-hover: #d4ac5b;
  --antique-gold-active: #b6914a;

  --sold-gray: #6d6d6d;
  --sold-gray-hover: #838383;
  --sold-gray-active: #636363;

  --danger-red: #b3261e;
  --danger-red-hover: #d52b1e;
  --danger-red-active: #8e1f1a;
}

@layer components {
  .btn {
    @apply px-6 py-2 rounded-md font-semibold text-white transition-all duration-200;
  }

  .btn-primary {
    @apply bg-[var(--emerald-green)] hover:bg-[var(--emerald-green-hover)] active:bg-[var(--emerald-green-active)];
  }

  .btn-secondary {
    @apply bg-[var(--antique-gold)] hover:bg-[var(--antique-gold-hover)] active:bg-[var(--antique-gold-active)];
  }

  .btn-sold {
    @apply bg-[var(--sold-gray)]  hover:bg-[var(--sold-gray-hover)] active:bg-[var(--sold-gray-active)];
  }

  .btn-danger {
    @apply bg-[var(--danger-red)]  hover:bg-[var(--danger-red-hover)] active:bg-[var(--danger-red-active)];
  }

  .cards {
    @apply shadow-xl;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

header,
footer {
  padding: 10px;
  background-color: var(--emerald-green);
}

.nav-header {
  font-size: larger;
  color: white;
}

.nav-header-hamburger {
  right: 10px;
  top: 65px;
  background-color: var(--emerald-green);
  padding: 15px;
  border-radius: 14px;
  border-color: black;
  gap: 15px;
  border-width: 1px;
  position: absolute;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 35px;
}

.hero-button {
  position: relative;
  padding: 10px;
  left: 270px;
  bottom: 80px;
}

.loader {
  border: 10px solid #d9d9d9;
  border-top: 10px solid var(--emerald-green);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
